body {
    background-color: hsl(222, 26%, 31%);
    color: hsl(0, 0%, 100%);
    padding-top: 100px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}
.title{
    display: flex;
    justify-content: space-evenly;
}
.title h1{
    width: 100px;
    margin: 0;
}
.title p{
    width: 100px;
    margin: 0;
}
.display {
    margin: 0 auto;
    width: 540px;
}
input {
    background-color: hsl(224, 36%, 15%);
    border: none;
    border-radius: 15px;
    color: hsl(0, 0%, 100%);
    direction: rtl;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 32px;
    padding: 35px;
    height: 60px;
    width: 470px;

}
.numpad {
    background-color: hsl(223, 31%, 20%);
    border-radius: 15px;
    margin: 0 auto;
    margin-top:24px;
    padding: 32px;
    width: 476px;
    height: 416px;
}
.row {
    margin-bottom: 27px;
    display: flex;
    justify-content: space-evenly;
}
button {

    background-color: hsl(30, 25%, 89%);
    border: none;
    border-radius: 15px;
    color: hsl(221, 14%, 31%);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 0 auto;
    width: 100px;
    height: 60px;

    filter: drop-shadow(0 3px 0 hsl(28, 16%, 65%))

}
.row.last button {
    margin-top: 0;
    width: 219px;
}

.func-btn {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    filter: drop-shadow(0 3px 0 hsl(224, 28%, 35%))
}

.euqal-btn{
    background-color: hsl(6, 63%, 50%);
    color: hsl(0, 0%, 100%);
    filter: drop-shadow(0 3px 0 hsl(6, 70%, 34%))
}

button:active {
    background-color: hsl(0, 0%, 100%);
}
.func-btn:active{
    background-color: #A2B3E1;

}
.euqal-btn:active{
    background-color: #F96C5B;
}


@media (max-width:750px) {
    .display{
        width: 327px;
    }
    input {
        padding: 26px;
        height: 36px;
        width: 275px;
    }
    .numpad{
        margin: 0 auto;
        margin-top:24px;
        padding: 24px;
        width: 279px;
        height: 372px;
    }
    .row{
        margin-bottom: 17px;
    }
    button{
        border-radius: 13px;
        width: 60px;
        height: 60px;
        font-size: 1.75rem;
    }
    .row.last button {
        width: 130px;
    }
}